<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wpi.easyrent"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:label="@string/app_name" />
        <activity android:name=".HomeActivity" />
        <activity 
            android:name=".ApartmentsActivity"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ApartmentsActivity" />
        </activity>
        <activity
            android:name=".ApartmentDetailActivity"
            android:parentActivityName=".ApartmentsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ApartmentDetailActivity" />
        </activity>
        <activity
            android:name=".RequestsActivity"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RequestsActivity" />
        </activity>
        <activity
            android:name=".OpenRequestsActivity"
            android:parentActivityName=".RequestsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OpenRequestsActivity" />
        </activity>
        <activity
            android:name=".PaidRequestsActivity"
            android:parentActivityName=".RequestsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PaidRequestsActivity" />
        </activity>
        <activity
            android:name=".ServiceRequestDetailActivity"
            android:parentActivityName=".OpenRequestsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ServiceRequestDetailActivity" />
        </activity>
        <activity
            android:name=".FindApartmentActivity"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FindApartmentActivity" />
        </activity>
        <activity
            android:name=".CreateServiceRequestActivity"
            android:parentActivityName=".FindApartmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CreateServiceRequestActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/app_name" >  
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
        </activity>
    </application>

</manifest>
